/* EXERCÍCIO 1 */

@import "fonts/ravie.css";
@import "fonts/verdana.css";

:root {
  --color-background: #fff;
  --color-background-initial: #f6f1b2;
  --color-background-final: #4599b2;
  --color-spotlight: #d027aa;
  --color-border: #d3d3d3;
  --color-text: #333333;

  --color-cardapio-background: #ffffff33;
  --color-cardapio-border: #aac0ae;

  --color-cabecalho-title: #e90c0c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #000;
    --color-background-initial: #053F5B;
    --color-background-final: #0F0020;
    --color-border: #212029;
    --color-text: #E5EDE8;

    --color-cardapio-background: #00000033;
    --color-cardapio-border: #1E3C51;
  }
}

body {
  background-color: var(--color-background);
  font-family: "verdana", "OpenSans", sans-serif;
}

h1 {
  font-family: "ravie", sans-serif;
}

strong {
  color: var(--color-spotlight);
}

#recipiente {
  background-image: linear-gradient(to bottom, var(--color-background-initial), var(--color-background-final) 80%);
  border-left: 1px solid var(--color-border);
  border-right: 1px solid var(--color-border);
}

#cardapio {
  background-color: var(--color-cardapio-background);
  border-top: 1px solid var(--color-cardapio-border);
  border-bottom: 1px solid var(--color-cardapio-border);
  border-left: 1px solid var(--color-cardapio-border);
}

#cardapio h3 {
  font-size: 18px;
  color: var(--color-text);
  margin-top: 30px;
}

#cardapio article {
  font-size: 14px;
  color: var(--color-text);
}


/* EXERCÍCIO 2: layout da página */

html, body, #recipiente {
  min-height: 100vh;
}

body {
  margin: 0;
}

#recipiente {
  margin-left: auto;
  margin-right: auto;
  width: 800px;

  display: grid;
  grid-template-rows: 110px auto 116px;
  grid-template-columns: 154px auto;
  grid-template-areas: 
    "lateral cabecalho"
    "lateral cardapio"
    "lateral rodape";
}

#cabecalho-pagina {
  grid-area: cabecalho;
}

#lateral {
  grid-area: lateral;
}

#cardapio {
  grid-area: cardapio;
}

#rodape-pagina {
  grid-area: rodape;
}

/* EXERCÍCIO 3: cabeçalho da página */
#cabecalho-pagina {
  padding: 10px
}

#cabecalho-pagina h1 {
  margin: 0;
  font-size: 36px;
  color: var(--color-cabecalho-title);
  font-weight: normal;

  text-align: center;
}

#cabecalho-pagina h2 {
  margin: 0;
  font-size: 24px;
  color: var(--color-text);
  font-weight: normal;

  text-align: right;
}

/* EXERCÍCIO 4: cada item do menu */

#cardapio {
  padding: 0 20px;
}

article {
  display: flex;
  justify-content: space-between;
  line-height: 2rem;
}


/* EXERCÍCIO 5: o rodapé */
#rodape-pagina {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 46px 15px 25px 0px;
}

/* EXERCÍCIO 6: lateral */
#lateral {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


/* EXERCÍCIO 7: o ticket */
#ticket {
  position: fixed;
  top: 50vh;
  transform: translateY(-50%);
  left: -89px;
  transition: left 0.3s ease-out;
}

#ticket:hover {
  left: 0px;
}


/* EXERCÍCIO 8: deslocamento no siri e peixe */
#siri {
  position: relative;
  top: 17px;
  left: -10px;
}

#peixe {
  position: relative;
  left: -44px;
}

/* EXERCÍCIO 9: bolhas - no HTML e no JS */
/* --- */


/* EXERCÍCIO 10: modo escuro */
/* no início deste arquivo (depois dos @import), coloque
   as custom properties */
/* coloque aqui a media query para sobrescrever o valor
   das custom properties para o modo escuro */

